environments:
  dev:
    values:
      - version: 0.0.1
---

releases:
  - name: extra
    installed: {{ eq .Environment.Name "dev" | toYaml }}
    namespace: {{ .Namespace }}
    chart: ./extra
    values:
      - realm: |
{{ readFile "../../docker/auth/realm.json" | replace "http://localhost:3200" "https://conversations.127.0.0.1.nip.io" | indent 10 }}

  - name: conversations
    version: {{ .Values.version }}
    namespace: {{ .Namespace }}
    chart: ./conversations
    values:
      - env.d/{{ .Environment.Name }}/values.conversations.yaml.gotmpl