@import url('../cunningham/cunningham-style.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

main ::-webkit-scrollbar,
.ReactModalPortal ::-webkit-scrollbar {
  width: 20px;
}

main ::-webkit-scrollbar-track,
.ReactModalPortal ::-webkit-scrollbar-track {
  background-color: transparent;
}

main ::-webkit-scrollbar-thumb,
.ReactModalPortal ::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

main ::-webkit-scrollbar-thumb:hover,
.ReactModalPortal ::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.btn-unstyled {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

[data-nextjs-dialog-overlay] {
  display: none !important;
}

nextjs-portal {
  display: none;
}

.c__modal {
  box-shadow: 0 6px 18px 0 rgb(0 0 0 / 16%);
}

.c__button {
  font-weight: 500;
}

.c__button--tertiary {
  border: 1px solid var(--c--theme--colors--greyscale-150) !important;
}

.c__button--bordered,
.c__button--bordered:hover,
.c__button--bordered:focus {
  border: 1px solid var(--c--theme--colors--greyscale-200) !important;
  background-color: #fff !important;
}

.c__button--bordered:focus {
  border: 1px solid rgb(0 0 0 / 16%) !important;
}

.c__button--primary.c__button--active {
  border: none;
}

.c__button--neutral {
  transition: background-color 0.4s !important;
  color: var(--c--theme--colors--greyscale-550) !important;
  font-weight: 500 !important;
  cursor: pointer !important;
  background-color: inherit !important;
  border: none !important;
  z-index: 100;
  font-size: 12px !important;
  padding: 4px !important;
  padding-right: 9px !important;
  border-radius: 4px !important;

  @media (width <= 768px) {
    padding-right: 4px !important;
  }
}

.c__button--neutral.c__button--neutral--icon {
  padding-right: 4px !important;
}

.c__button--neutral.research-web-button,
.c__button--neutral.attach-file-button {
  padding: 9px !important;
}

.c__button--neutral.research-web-button:disabled,
.c__button--neutral.attach-file-button:disabled {
  background-color: inherit !important;
  opacity: 0.4;
  cursor: not-allowed !important;
}

.c__button--neutral.action-chat-button .action-chat-button-icon,
.c__button--neutral.research-web-button .c__button__icon span,
.c__button--neutral.attach-file-button .c__button__icon span {
  @media (width <= 768px) {
    font-size: 19px !important;
  }
}

.c__button--neutral:hover,
.c__button--neutral:active,
.action-chat-button--open {
  background-color: #f2f5f4 !important;
  border: none !important;
}

.c__button--neutral:active {
  background-color: inherit !important;
}

ul a {
  color: var(--c--theme--colors--greyscale-700) !important;
}

ul a:hover {
  color: var(--c--theme--colors--primary-800) !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.mainContent-chat code {
  overflow-wrap: break-word;
}

.mainContent-chat a {
  color: inherit !important;
  text-decoration: none !important;
  transition: box-shadow 0.2s !important;
  box-shadow: inset 0 -2px 0 0 #dae2ff !important;
}

.mainContent-chat a:hover {
  color: inherit !important;
  box-shadow: inset 0 -22px 0 0 #dae2ff !important;
}

.lasuite-gaufre-btn.lasuite--gaufre-opened {
  box-shadow: none !important;
}

.c__button--info {
  background-color: #cfe5ff !important;
  color: #265eaa !important;
  font-weight: 500 !important;
}

.c__button--info:hover,
.c__button--info:active,
.c__button--info:focus {
  outline: none !important;
  background-color: #b7d7ff !important;
  color: #265eaa !important;
  border-color: #b7d7ff !important;
}

.research-web-button:focus {
  box-shadow: none !important;
}

.c__button:disabled {
  background-color: var(--c--theme--colors--greyscale-100) !important;
  color: var(--c--theme--colors--greyscale-300) !important;
}

.c__button--stop {
  font-size: 0.8rem;
  padding-right: 9px;
  background-color: var(--c--theme--colors--greyscale-550) !important;
  color: var(--c--theme--colors--greyscale-050) !important;
}

@media (width <= 768px) {
  .mobile-no-focus:hover {
    background-color: transparent !important;
  }
}

.c__button--feedback {
  margin-left: 16px;

  @media (width <= 1150px) {
    display: none !important;
  }
}

@media screen and (width <= 420px) {
  .c__modal__scroller {
    padding: 1.5rem !important;
  }
}

/* Styles for code blocks generated by rehype-pretty-code */
figure[data-rehype-pretty-code-figure] {
  margin-left: 0;
  margin-right: 0;
}

figure[data-rehype-pretty-code-figure] > pre {
  margin: 0;
  border-radius: 8px;
  border: 1px solid var(--c--theme--colors--greyscale-500);
  padding: clamp(0.75rem, 2vw, 1rem);
  overflow-x: auto;
}

figure[data-rehype-pretty-code-figure] > pre > code {
  display: block;
}
