DJANGO_SECRET_KEY=changeme
AWS_S3_SECRET_ACCESS_KEY=changeme
AI_BASE_URL=changeme
AI_API_KEY=changeme
ALBERT_API_URL=changeme
ALBERT_API_KEY=changeme
BRAVE_API_KEY=changeme
STT_SERVICE_URL=changeme
STT_SERVICE_API_KEY=changeme
STT_WEBHOOK_API_KEY=changeme
LANGFUSE_SECRET_KEY=changeme
LANGFUSE_PUBLIC_KEY=changeme
LANGFUSE_HOST=changeme
OIDC_RP_CLIENT_ID=changeme
OIDC_RP_CLIENT_SECRET=changeme
OIDC_STORE_REFRESH_TOKEN_KEY=changeme